version: 2.1
orbs:
  windows-tools: circleci/windows-tools@0.0.4
  heroku: circleci/heroku@1.0.1
jobs:
  build:
    working_directory: ~/public
    docker:
      - image: circleci/node:10.15.3
    steps:
      - checkout
      - run:
          name: update-npm
          command: "sudo npm install -g npm@latest"
      - restore_cache:
          key: dependency-cache-{{ checksum "package.json" }}
      - run:
          name: install-npm-wee
          command: npm install
      - save_cache:
          key: dependency-cache-{{ checksum "package.json" }}
          paths:
            - ./node_modules
      - run:
          name: test
          command: npm test
      - store_artifacts:
          path: test-results.xml
          prefix: tests
      - store_artifacts:
          path: coverage
          prefix: coverage
      - store_test_results:
          path: test-results.xml
  deploy:
    machine:
      enabled: true
    working_directory: ~/circleci-demo-workflows
    environment:
      HEROKU_APP: "deploy-react-test-app"
    steps:
      - checkout
      - run:
          name: Setup Heroku
          command: bash .circleci/setup-heroku.sh

      - run:
          command: |
            git push heroku heroku_deploy:master
            heroku run rake db:migrate
            sleep 5 # sleep for 5 seconds to wait for dynos
            heroku restart
        
        
workflows:
  build-service:
    jobs:
      - build
      - deploy
        # requires:
        #   - build
        # requires:
        #     - build
          # filters:
          #   branches:
          #     only: heroku_deploy